body {
    margin: 10px;
    background: #AA99AA;
    font-family: fantasy
}

h1 {
    margin: 15px;
    color: black;
    text-align: center;
}
#gameContainer {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}